<div class="hero-unit">
	<h1>Dave's First App</h1>
	<p>
		Not fully sure what this is going to be yet, but it's going to be kick-ass
	</p>
	<p>
		<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
